<!doctype html>

<html class="no-js" dir="rtl" lang="Fa_IR">

<head>
    <title>@ViewData["Title"]</title>
    <partial name="_MetaTags"/>
    <partial name="_HeaderReferences"/>
</head>
<body>
<partial name="_Header"/>
<partial name="_MegaMenu"/>
@RenderBody()
<partial name="_Footer"/>
<partial name="_FooterReferences"/>
</body>
</html>
