<!doctype html>
<html class="no-js" dir="rtl" lang="Fa_IR">

<head>
    <meta charset="utf-8">
    <title>ورود به حساب کاربری</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta content="" property="og:title">
    <meta content="" property="og:type">
    <meta content="" property="og:url">
    <meta content="" property="og:image">

    <!-- Place favicon.ico in the root directory -->

    <link href="/Customer/css/normalize.css" rel="stylesheet">
    <link href="/Customer/font/bootstrap-icon/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/Customer/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Customer/css/main.css" rel="stylesheet">
    <link href="/Customer/css/responsive.css" rel="stylesheet">
    <link href="/Customer/Swal/sweetalert2.css" rel="stylesheet">

    <meta content="#f4f5f9" name="theme-color">
</head>

<body class="bg-auth">

<!-- start content -->
@RenderBody()

<!-- end content -->
<script src="/Customer/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/Customer/Axaj/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="/Customer/Axaj/Ajax.js"></script>
<script src="/Customer/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="/Customer/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="/Customer/js/plugin/rasta-contact/script.js"></script>
<script src="/Customer/js/main.js"></script>
<script src="/Customer/ClientSiteJs.js"></script>
<script src="/Customer/js/plugin/otp-sms/otp-input.js"></script>
<script src="/Customer/js/plugin/otp-loader/script.js"></script>
<script src="/Customer/Swal/sweetalert2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    $(document).ready(function () {
        countdown('countdownB', 0, 0, 3, 0);
    });
</script>

</body>

</html>
